body{
    font-family: Tahoma, Arial, "Times New Roman";
    margin: 0; /* gets rid of the thin white line around the page */
}

.logo {
    width: auto;
    max-height: 80px;
}

.one {
    background-color: #1f2937;
    height: 60vh;
    padding: 0px 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
    margin-bottom: 5vh;
    gap: 50px;
}

.HLinks {
    display: flex;
    gap: 30px;
}

.hlink {
    color: #E5E7EB;
    font-size: 20px;
    text-decoration: none;
    margin: 0;
}

.bigtext {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.smalltext {
    font-size: 18px;
    color: #E5E7EB;
}



.signup {
    display: flex;
    flex-wrap: wrap;
 /*   justify-content: space-between; */
    gap: 80px;
    max-width: 2000px;
    
}

.SLeft {
    flex: 1;
    max-width: 50%;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.SRight {
    flex: auto;
    min-width: 50px;
    max-width: 50%;
    max-height: 100%;
    display: flex;
    justify-content: flex-end; /* Horizontal alignment */
    align-items: center;     /* Vertical alignment */
 
}

.SImage {
   max-width: 100%;
    max-height: 30vh; 

}

.SButton {
    background-color: #3882f6;
    color: white;
    max-width: 125px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
}

.two {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.TwoHeader {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.TwoImages {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.img1 img {
    width: 250px;
    height: 250px;
}

.img1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-weight: 600;
}

.three {
    margin-top: 100px;
    background-color: #E5E7EB;
    padding: 200px;
/*    display: flex;
    align-items: flex-end;
    flex-direction: column; */

}

.t1 {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;

}

.t2 {
    font-size:28px;
    font-weight: 700;
    padding-right: 40px;
    text-align: end; 
}

.four {
/*    margin-top: 100px;
    height: 500px; */
}

.BlueBox {
    background-color: #3882f6;
    margin: 100px 300px;
    padding: 80px 200px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.btext1 {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.btext2 {
    color: #F9FAF8;
    font-size: 20px;
}

.bbutton {
    box-shadow: none;
    border-color: white;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    font-size: 24px;
    font-weight: 800;
    border-width: 5px;
}

.footer {
    background-color: #1f2937;
    color: #F9FAF8;
    height: 80px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}